<div class="card">
  <div class="card-body">
    <h5 class="card-title">Name: <%= @restaurant.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Category <%= @restaurant.category %></h6>
    <p class="card-text">Address: <%= @restaurant.address %></p>
    <p class="card-text">Phone Number: <%= @restaurant.phone_number %></p>
    <%= link_to "All Restaurants", restaurants_path, class: "card-link" %>
    <%= link_to "Create Restaurant", new_restaurant_path, class: "card-link" %>
  </div>
</div>

<% @restaurant.reviews.each do |review| %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Review:</h5>
    <p class="card-text">Rating: <%= review.content %></p>
    <p class="card-text">Address: <%= review.rating %></p>
  </div>
</div>
<% end %>
